*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
flex-direction: column;
      padding: 50px;
    gap: 20px;
}

div{
   width: 60%;
    height: 100px;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
}